.wrapper {
  width: 100%;
  height: 150dvh;
}

.wrapper__content {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.coverpage__image {
  position: absolute;
  z-index: 0;
  object-position: 0% 90%;
  transform: scale(1.65);
  will-change: transform;
}

.logo__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: clamp(1.25rem, -1.8125rem + 15.3125vw, 4.3125rem);
  right: 69px;
  bottom: calc((100% - clamp(1.8125rem, -0.2859rem + 3.2787vw, 2.8125rem) - 2.475vw) * var(--logo-progress, 0));
  display: flex;
  z-index: 2;
  transform-origin: left bottom;
  will-change: transform;
}

.title {
  letter-spacing: clamp(1.875rem, -4.1856rem + 15.1515vw, 7.2rem);
  font-size: 18vw;
  color: #d7d3cf;
  font-weight: 200;
  margin: 0;
  line-height: 1;
  text-align: center;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}

.title_part_two {
  position: absolute;
  top: 100%;
  left: 50%;
  color: #d7d3cf;
  font-weight: 300;
  font-size: 2.7vw;
  letter-spacing: clamp(0.6rem, 1.2vw, 0.7rem);
  margin-top: calc(4.5vw + 10px);
  line-height: 1;
  font-family: var(--font-neue-machina), sans-serif;
  white-space: nowrap;
  pointer-events: none;
  transform-origin: top center;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}