.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: top;
    align-items: center;
    padding: 26px 0;
    padding-inline: 51px;
}


.main__axis__divisor {
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
    margin-bottom: 46px;
}

.container__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    max-width: 1512px;
    width: 100%;

}

.container__content__left {
    display: flex;
    justify-content: space-between;

    margin-bottom: 36px;
    max-width: 1512px;
    width: 100%;
}

.container__pages_list,
.container__content__contact__info {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    font-size: 17px;
    line-height: 36px;
}

.container__content__contact__info__address {
    max-width: 23ch;
}

.container__privacy__notice {
    display: flex;
    justify-content: center;
    color: var(--emanaGreen);
    align-items: center;
    font-size: 16px;
    line-height: 19px;
}

.container__content__logo__wrapper {
    align-self: flex-start;
    min-width: 278px;
    margin-left: clamp(2.5rem, -17.0313rem + 31.25vw, 12.5rem);
    aspect-ratio: 278/215;
}

@media (max-width: 992px) {
    .container__content__copy {
        display: none;
        visibility: hidden;
        position: none
    }

    .container {
        padding-inline: 28px;
    }

    .container__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
        max-width: 1512px;
        width: 100%;
        gap: 50px;
    }

    .container__pages_list,
    .container__content__contact__info {
        line-height: 16px;
        column-gap: 10px;
    }


    .container__privacy__notice {
        line-height: 10px;
    }

    .container__content__logo__wrapper {
        margin-left: clamp(0.9375rem, -1.9034rem + 7.1023vw, 2.5rem);

    }


}

@media (max-width: 768px) {
    .container__pages_list {
        font-size: 14px;
    }

    .container__content__contact__info {
        font-size: 14px;
    }

    .container__content__logo__wrapper {
        margin-left: 0;

    }

}

@media (max-width: 640px) {
    .container {
        padding-inline: 18px;
    }

    .container__content {
        flex-direction: column;
        row-gap: 20px;
    }

    .container__content__logo__wrapper {
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .container__pages_list,
    .container__content__contact__info {
        row-gap: 0;
    }

    .main__axis__divisor {

        margin-bottom: 16px;
    }

    .container__content {

        margin-bottom: 16px;


    }

    .container__content__left {
        margin-bottom: 16px;

    }

}