.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    row-gap: 110px;
}

.coverTitle{
  max-width: 18ch;
}

.coverDescription{
  max-width: 35ch;
}

.collaboratorsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 100px;
    padding-top: 116px;
    padding-inline: 88px;
    width: 100%;
}



@media (max-width: 768px) {
    .collaboratorsList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 50px;
        padding-top: 100px;
        padding-inline: 0;
    }

    .main {
        row-gap: 50px;
    }

}


.container__coverImage {}

.container__coverImage img {
    object-position: 0% 86%;
    transform: scale(1);
}