.apartment__section{
    display: flex;
    width: 100%;
    padding-inline: 99px 77px;
    padding-block: 121px;
    column-gap: 118px;
    max-width: 1512px;
    justify-self: center;
}

.apartment__section__image{
    position: relative;
    max-width: 695px;
    width: 100%;
    aspect-ratio: 695/740;
}
.apartment__section__cover__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.apartment__section__apartment__info__title{
    font-size: 30px;
}

.apartment__section__apartment__info__description{
    font-size: 19px;
    max-width: 100ch;
    margin-block: 40px;
}

.apartment__section__apartment__info__features{
    display: flex;
    flex-direction: column;   
    row-gap: 15px;
    padding-top: 40px;
    border-top: 1px solid #E5E7EB;
}

.apartment__section__apartment__info__features__item{
    display: flex;
    column-gap: 16px;
}

.apartment__section__apartment__info__features__item__text{
    color: var(--greenDark);
}

@media screen and (max-width:1024px) {
    .apartment__section{
        flex-direction: column;
        row-gap: 49px;
    }
    .apartment__section__image{
        max-width: none;
        aspect-ratio: auto;
    }
}

@media screen and (max-width:720px) {
    .apartment__section{
        padding-inline: 20px;
        padding-block: 88px;
    }    
}