.wrapper {
  width: 100%;
  height: 200dvh;
}

.wrapper__content {
  position: sticky;
  top: 0;
  min-height: max-content;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.coverpage__image {
  position: absolute;
  z-index: 0;
  object-position: 0% 90%;
}

.coverpage__image {
  transform: scale(1.5);
}

.logo__wrapper {
  position: absolute;
  bottom: 0;
  width: calc(100% - 140px);
  margin-inline: 69px;
}

.logo__image {
  width: 100%;
  z-index: 30;
}

.title {
  letter-spacing: 150px;
  font-size: 15vw;
  z-index: 30;
  color: #d7d3cf;
  font-weight: 100;
}
