@import "tailwindcss";

:root {
  --background: white;
  --foreground: #171717;
  --greenDark: #676861;
  --emanaGreen: #95978C;
}

* {
  font-family: var(--font-gilroy);
}

html {
  background: var(--background);
}

body {
  color: var(--foreground);
  min-height: 100vh;
}

body main {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-neue-machina);
  font-weight: 500;
}

span {
  font-family: var(--font-gilroy);
}