.wrapper {
  position: fixed;
  top: 0dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100dvh;
  z-index: 999;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);

  animation: slide-in 250ms ease-in-out forwards;

  backdrop-filter: blur(0);
  transition: backdrop-filter 0.25s ease;
}

@keyframes slide-in {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(6px);
  }
}

.wrapper__content {
  position: absolute;
  max-width: 900px;
  padding: 50px;
  background-color: var(--surface-primary);
}

.icon__wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  filter: invert(100%);
}
