.heroSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 206px;
  max-width: 588px;
}

.heroText {
  font-family: var(--font-gilroy), sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 36px;
  color: #000000;
  margin: 0;
}



@media (max-width: 768px) {
  .heroSection {
    margin-top: 206px;
    margin-left: 20px;
    width: calc(100% - 40px);
    
  }

  
  .heroText {
    font-size: 20px;
    line-height: 30px;
  }
}